.wids{
    max-width: 800px;
}
.myForm{
    font-family: cursive;
    font-size: 20px;
    border: solid rgb(107, 101, 101) 5px;
    border-radius: 20px;
    height: 50px;
}

.content{
    margin-top: 150px;
}

.background{
    background: white;
}

.myOption{
    background-color: dodgerblue;
    font-family: cursive;
    color: white;
    text-align: center;
    border: solid rgb(107, 101, 101) 5px;
    border-radius: 20px;
}