<div class="c">
    <div class="row justify-content-between mymarg">
        <div class="todoitem col">
            <div class="task">
                <span (click)="taskDoneMeth(todo.id)" [ngClass]="taskDone">
                    {{todo.task}}
                </span>
            </div>
            <div id='priority' [ngClass]="myclass"></div>
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-primary myForm" value="Del" (click) = 'delTask(todo.id)'>
        </div>
    </div>
</div>